.AdultRideDetails h2, .KidRideDetails h2{
    font-size: 35px;
}

.AdultRideDetails img {
    height: 500px;
    width: auto;
    object-fit: cover;
object-position: 25% 25%;
}
.KidRideDetails img{
    max-height: 500px;
    width: 100%;
    object-fit: cover;
object-position: 60% 60%;
transform: translate(-50%, -50%)
}


.AdultRideDetails h3, .KidRideDetails h3{
    font-size: 20px;
    margin: 20px 100px ;
}

.leftDescriptionAdults, .rightDescriptionAdults {
display: grid;
grid-template-columns: .5fr .5fr .5fr .5fr;
font-size: 15px;
}

.leftDescriptionKids, .rightDescriptionKids{
display: grid;
grid-template-columns: .5fr .5fr .5fr;
font-size: 15px;
}